project = "arctic-math-252409"
location = "europe-west1-c"
network = "tf-demo-module"
routes = [
  {
    name                   = "egress-internet"
    description            = "route through IGW to access internet"
    destination_range      = "0.0.0.0/0"
    tags                   = "egress-inet"
    next_hop_internet      = "true"
  }
]